.project
.settings
target/
*.bak
.tmp/
node/
node_modules/
/*/META-INF/
.classpath
*.versionsBackup
.checkstyle
.pmd
.pmdruleset.xml
.fbprefs
.profiler
.vscode
src/main/java/com/overnight/shippers/shipit/common/Credentials.java
src/main/java/com/overnight/shippers/shipit/splunk/SplunkSearchTest.java